<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facto</title>
    <link rel="stylesheet" type="text/css" href="../css/sendemailcss.css">
</head>
<body>
    <div class="container">
        <form action="/sendEmail" method="post">
      
      
          <label for="lname">Subject</label>
          <input type="text" id="lname" name="subject" placeholder="Your last name..">
  
          <label for="subject">Message</label>
          <textarea id="subject" name="message" placeholder="Write something.." style="height:200px"></textarea>
      
          <input type="submit" value="Submit">
          <%
          if(typeof message !== 'undefined'){
            %>
            <h4 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"><%= message %></h4>
            <%
       }
       %>
      
        </form>
      </div>
</body>
</html>